@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  overflow-x: hidden !important;
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
}

.wrap {
  display: flex;
  flex-direction: column;
}
.header {
  height: 90px;
  padding: 0px 10px 0px 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #2B2B3A;
}

.logo img {
  width: 120px;
}

.nav__ul {
  display: flex;
}

.nav__item {
  padding: 5px;
}

.nav__item:not(:first-child) {
  margin-left: 50px;
}

.nav__link{
  font-weight: 300;
  font-size: 18px;
  text-transform: uppercase;
  color: white;
}

.nav__item > a:hover {
  color: #EAFC40;
}

.reg-auth {
  padding: 0px 10px 0px 10px;
}

.reg-auth__btn {
  padding: 10px 20px 10px 20px;
  border: 2px solid #1ED2F4;
  background: #254558;
  color: white;
  font-size: 20px;
  transform: skew(-20deg);
  cursor: pointer;
}

.reg-auth__btn:not(:first-child) {
  margin-left: 25px;
}

.reg-auth__btn > div {
  transform: skew(20deg);
}

.reg-auth__btn:hover {
  border: 2px solid #EAFC40;
}

@media (max-width: 1200px) {
  .logo img {
    width: 100px;
  }

  .nav__item:not(:first-child) {
    margin-left: 30px;
  }

  .nav__link {
    font-size: 16px;
  }

  .reg-auth__btn {
    padding: 10px 15px 10px 15px;
    font-size: 16px;
  }

  .reg-auth__btn:not(:first-child) {
    margin-left: 15px;
  }
}

.menu-icon {
  display: none;
}

.mobile-nav {
  display: none;
}

@media (max-width: 780px) {
  .nav {
    display: none;
  }

  .reg-auth {
    display: none;
  }

  .header {
    justify-content: space-between;
  }

  .logo img {
    width: 80px;
  }

  .menu-icon {
    display: block;
    width: 30px;
    height: 30px;
    background-color: #fff;
  }
  
  .mobile-nav {
    position: absolute;
    top: 0px;
    right: -205px;
    width: 200px;
    height: 100%;
    padding: 70px 5px 0px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #2B2B3A;
  }

  .nav__ul {
    flex-direction: column;
    align-items: center;
  }

  .nav__item:not(:first-child) {
    margin-left: 0px;
    margin-top: 10px;
  }

  .reg-auth__btn {
    margin-top: 20px;
  }
}

