@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  overflow-x: hidden !important;
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
}

::-webkit-scrollbar { /* chrome based */
  width: 0px;  /* ширина scrollbar'a */
  background: transparent;  /* опционально */
}

html {
  -ms-overflow-style: none;  /* IE 10+ */
  scrollbar-width: none; /* Firefox */
}

.wrap {
  display: flex;
  flex-direction: column;
  background-color: #254558;
}

.header {
  height: 90px;
  padding: 0px 10px 0px 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #2B2B3A;
  border-bottom: 2px solid black;
}

.logo img {
  width: 120px;
}

.nav__ul {
  display: flex;
}

.nav__item {
  padding: 5px;
}

.nav__item:not(:first-child) {
  margin-left: 50px;
}

.nav__link{
  font-weight: 300;
  font-size: 18px;
  text-transform: uppercase;
  color: white;
}

.nav__item > a:hover {
  color: #EAFC40;
}

.reg-auth {
  padding: 0px 10px 0px 10px;
}

.reg-auth__btn {
  padding: 10px 20px 10px 20px;
  border: 2px solid #1ED2F4;
  background: #254558;
  color: white;
  font-size: 20px;
  transform: skew(-20deg);
  cursor: pointer;
}

.reg-auth__btn:not(:first-child) {
  margin-left: 25px;
}

.reg-auth__btn > div {
  transform: skew(20deg);
}

.reg-auth__btn:hover {
  border: 2px solid #EAFC40;
}

@media (max-width: 1200px) {
  .logo img {
    width: 100px;
  }

  .nav__item:not(:first-child) {
    margin-left: 30px;
  }

  .nav__link {
    font-size: 16px;
  }

  .reg-auth__btn {
    padding: 10px 15px 10px 15px;
    font-size: 16px;
  }

  .reg-auth__btn:not(:first-child) {
    margin-left: 15px;
  }
}

.menu-icon {
  display: none;
}

.mobile-nav {
  display: none;
}

@media (max-width: 780px) {
  .nav {
    display: none;
  }

  .reg-auth {
    display: none;
  }

  .header {
    justify-content: space-between;
  }

  .logo img {
    width: 80px;
  }

  .menu-icon {
    display: block;
    width: 35px;
    height: 30px;
    background-image: url('./../img/menu.png');
    background-size: cover;
  }
  
  .mobile-nav {
    position: absolute;
    z-index: 99;
    box-sizing: border-box;
    top: 89px;
    right: 0px;
    width: 0px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #2B2B3A;
    transition: width 0.4s;
  }

  .mobile-nav_active {
    width: 200px;
  }

  .nav__ul {
    flex-direction: column;
    align-items: center;
  }

  .nav__item:not(:first-child) {
    margin-left: 0px;
    margin-top: 10px;
  }

  .reg-auth__btn {
    margin-top: 20px;
  }
}

.promotional {
  height: 600px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.promotional__content {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
  opacity: 0.6;
}

.subscribe {
  height: 65px;
  margin: 35px 20px 0px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2B2B3A;
  border-radius: 3px;
  color: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.subscribe__link {
  display: flex;
  align-items: center;
  font-size: 18px;
  color: #EAFC40;
}

.subscribe__link > img {
  width: 40px;
  margin-left: 15px;
}

.footer {
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2B2B3A;
  color: white;
  font-weight: 300;
}

.events {
  margin: 20px 0px 40px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.event-wrap {
  width: 70%;
  height: fit-content;
  margin-top: 30px;
  background-color: #2B2B3A;
  border: 3px solid #47C7E9;
  transform: skew(-20deg);
}

.event {
  transform: skew(20deg);
  height: 100%;
  padding: 20px 20px 20px 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
}

.event__avatar > img {
  width: 90px;
  border-radius: 3px;
}

.event__name {
  font-size: 18px;
  font-weight: 500;
}

.event__description {
  max-width: 400px;
  margin-top: 10px;
  font-size: 14px;
}

.event__bet {
  display: flex;
  text-align: center;
}

.bet__win {
  padding: 0px 20px 10px 0px;
  border-right: 2px solid rgba(0, 0, 0, 0.5);
}

.bet__lose {
  margin-left: 20px;
}

.bet__title {
  margin-bottom: 15px;
}

.bet__btn {
  width: 90px;
  height: 35px;
  border: none;
  border-radius: 1px;
  background-color: #EAFC40;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.event__details {
  display: flex;
  align-items: center;
  font-size: 18px;
  cursor: pointer;
}

.event__details > img {
  margin-left: 10px;
  width: 30px;
}

@media (max-width: 1300px) {
  .event-wrap {
    width: 90%;
  }
}

@media (max-width: 1000px) {
  .event__avatar > img {
    width: 100px;
  }

  .event__description {
    max-width: 250px;
  }

  .bet__win {
    padding-right: 10px;
  }

  .bet__lose {
    margin-left: 10px;
  }
}

@media (max-width: 830px) {
  .promotional {
    height: 350px;
  }

  .subscribe__link {
    font-size: 16px;
  }

  .subscribe__link > img {
    width: 30px;
    margin-left: 10px;
  }

  .event-wrap {
    width: 70%;
    height: fit-content;
    transform: skew(-15deg);
  }

  .event {
    flex-direction: column;
    transform: skew(15deg);
  }

  .event__avatar > img {
    width: 40px;
  }

  .event__title {
    text-align: center;
  }

  .event__name {
    font-size: 14px;
  }

  .event__description {
    max-width: 100%;
    font-size: 12px;
  }

  .event__bet {
    margin-top: 10px;
  }

  .bet__title {
    font-size: 14px;
    margin-bottom: 5px;
  }

  .bet__btn {
    width: 70px;
    height: 30px;
  }

  .event__details {
    margin-top: 10px;
    font-size: 14px;
  }

  .event__details > img {
    width: 20px;
  }
} 


