.wrap {
  display: flex;
  flex-direction: column;
  background-color: #254558;
}

.promotional {
  height: 600px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.promotional__content {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
  opacity: 0.6;
}

.subscribe {
  height: 65px;
  margin: 35px 20px 0px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2B2B3A;
  border-radius: 3px;
  color: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.subscribe__link {
  display: flex;
  align-items: center;
  font-size: 18px;
  color: #EAFC40;
}

.subscribe__link > img {
  width: 40px;
  margin-left: 15px;
}

.events {
  margin: 20px 0px 40px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.event-wrap {
  width: 70%;
  height: fit-content;
  margin-top: 30px;
  background-color: #2B2B3A;
  border: 3px solid #47C7E9;
  transform: skew(-20deg);
}

.event {
  transform: skew(20deg);
  height: 100%;
  padding: 20px 20px 20px 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
}

.event__avatar > img {
  width: 90px;
  border-radius: 3px;
}

.event__name {
  font-size: 18px;
  font-weight: 500;
}

.event__description {
  max-width: 400px;
  margin-top: 10px;
  font-size: 14px;
}

.event__bet {
  display: flex;
  text-align: center;
}

.bet__win {
  padding: 0px 20px 10px 0px;
  border-right: 2px solid rgba(0, 0, 0, 0.5);
}

.bet__lose {
  margin-left: 20px;
}

.bet__title {
  margin-bottom: 15px;
}

.bet__btn {
  width: 90px;
  height: 35px;
  border: none;
  border-radius: 1px;
  background-color: #EAFC40;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.event__details {
  display: flex;
  align-items: center;
  font-size: 18px;
  cursor: pointer;
}

.event__details > img {
  margin-left: 10px;
  width: 30px;
}

@media (max-width: 1300px) {
  .event-wrap {
    width: 90%;
  }
}

@media (max-width: 1000px) {
  .event__avatar > img {
    width: 100px;
  }

  .event__description {
    max-width: 250px;
  }

  .bet__win {
    padding-right: 10px;
  }

  .bet__lose {
    margin-left: 10px;
  }
}

@media (max-width: 830px) {
  .promotional {
    height: 350px;
  }

  .subscribe__link {
    font-size: 16px;
  }

  .subscribe__link > img {
    width: 30px;
    margin-left: 10px;
  }

  .event-wrap {
    width: 70%;
    height: fit-content;
    transform: skew(0deg);
  }

  .event {
    flex-direction: column;
    transform: skew(0deg);
  }

  .event__avatar > img {
    width: 40px;
  }

  .event__title {
    text-align: center;
  }

  .event__name {
    font-size: 14px;
  }

  .event__description {
    max-width: 100%;
    font-size: 12px;
  }

  .event__bet {
    margin-top: 10px;
  }

  .bet__title {
    font-size: 14px;
    margin-bottom: 5px;
  }

  .bet__btn {
    width: 70px;
    height: 30px;
  }

  .event__details {
    margin-top: 10px;
    font-size: 14px;
  }

  .event__details > img {
    width: 20px;
  }
} 